$color-A: #171717;
$color-B: #eb2222;
$color-C: white;
$color-D: #7a7978;
$color-E: #2b2f32;
$color-F: #42454c;
$font:'Roboto';

$font_size_p: calc(0.8rem + 0.14vw);
$font_size_h1: calc(1.2rem + 0.7vw);
$font_size_h2: calc(1.1rem + 0.7vw);
$font_size_h5: calc(1.05rem + 0.19vw);
$font_size_h4: calc(0.9rem + 0.17vw);
$font_size_h3: calc(1rem + 0.5vw)